<header class="site-header">

  <div class="header-left">
    <img id="profile-image" src="/me-Dark.jpg" alt="Me">
    <a href="{{ "" | relURL }}" class="site-title">
      {{ $pageTitle := "" }}
      {{ if .IsHome }}
        {{ $pageTitle = "Arjun’s Webpage" }}
      {{ else if .Params.customtitle }}
        {{ $pageTitle = .Title }}
      {{ else if .IsSection }}
        {{ $pageTitle = printf "Arjun’s %s" (.Section | humanize) }}
      {{ else if eq .Title "about" }}
        {{ $pageTitle = "About Arjun" }}
      {{ else if eq .Title "images" }}
        {{ $pageTitle = "Arjun's Images" }}
      {{ else if eq .Title "scrapbook" }}
        {{ $pageTitle = "Arjun's Scrapbook" }}
      {{ else }}
        {{ $pageTitle = "Arjun’s Webpage" }}
      {{ end }}

      {{ $pageTitle }}
    </a>
  </div>

  <nav class="site-nav">
    {{- partial "nav.html" . -}}
<div class="theme-switcher">
    <button data-theme="Bleach" aria-pressed="false" title="Bleach">☀️</button>
    <button data-theme="Dark" aria-pressed="true" title="Dark">🌑</button>
    <button data-theme="Puke" aria-pressed="false" title="PUKE">🤢</button>
    </div>
  </nav>

</header>
