
<a href="{{ "" | relURL }}" class="title">
        <aside>
      <div class="theme-switcher">
        <button data-theme="Dark" aria-pressed="true">Dark</button>
        <button data-theme="Light" aria-pressed="false">Light</button>
        <button data-theme="CMYK" aria-pressed="false">CMYK</button>
        <button data-theme="Piss" aria-pressed="false">Piss</button>
      </div>
    </aside>
  <h1>
  {{ if .IsHome }}
    Arjun’s Webpage
  {{ else if .IsSection }}
    Arjun’s {{ .Section | humanize }}
  {{ else if eq .Title "about" }}
    About Arjun
  {{ else if eq .Title "images" }}
    Arjun's Images
  {{ else if eq .Title "scrapbook" }}
    Arjun's Scrapbook
  {{ else }}
    Arjun’s Webpage
  {{ end }}
</h1>
</a>




<nav>{{- partial "nav.html" . -}}</nav>

