<div>
  <div>
    <h3 class="misc">More Miscllaneous Pages 🫃</h3>
    <small class="grey">unordered. randomness. chaos.</small>
  </div>

  <nav>
    <div class="menumisc">
      {{ range .Site.Menus.misc }}
        {{ $active := or ($.IsMenuCurrent "misc" .) ($.HasMenuCurrent "misc" .) }}
        <a href="{{ .URL | relURL }}" 
   class="misc
   {{ with .Page }}
     {{ if .Params.newpage }} is-new
     {{ else if .Params.updated }} is-updated
     {{ end }}
   {{ end }}">
  {{ .Name }}
</a>
      {{ end }}
    </div>
  </nav>
</div>
