<div class="image-grid">
  {{ $pages := slice }}

  {{ with .Site.GetPage "/gallery" }}
    {{ $pages = $pages | append .RegularPages }}
  {{ end }}


  {{ range first 4 (sort $pages "Date" "desc") }}
    {{ $page := . }}

    <!--<h4>{{ $page.Title }}</h4>-->

    <a href="{{ $page.RelPermalink }}" title="{{ $page.Title }}">
      {{ with $page.Resources.GetMatch $page.Params.image }}
        {{ $thumb := .Resize "300x" }}
        <img src="{{ $thumb.RelPermalink }}" alt="{{ $page.Title }}" class="img-responsive" style="max-width:47%; ">
      {{ end }}
    </a>

    <!--  <p>{{ $page.Plain | truncate 160 }}</p> */-->
  {{ end }}
</div>