<style>
:root {
  --width: 1000px;
  --font-main: "IBM Plex Mono", monospace;
  --font-secondary: "IBM Plex Mono", monospace;
  --font-scale: 1em;

   } 

:root, 
[data-selected-theme="Dark"] { 
    --background-color: #0c0c0c;
    --text-color: #eaeaea;
    --blockquote-color: #646464;
    --link-color: #4990fc;
    --visited-color: #94befc;
    --highlight-color: #042659;
    --heading-color: #eaeaea;
    --yellow: #ffff00;

}
[data-selected-theme="CMYK"] { 
--background-color: #000000;
--text-color: #ffffff;
--blockquote-color: #ffff00; /* magenta */
--link-color: #00ffff;       /* cyan */
--visited-color: #ffff00;    /* var(--yellow) */
--highlight-color: #ff00ff;  /* magenta */
--heading-color: #ff00ff;
--subtext : #ffffff;
--yellow: #ffff00;

}
[data-selected-theme="Light"] { 
  --background-color: #ffffff;        /* $--bg-color */
  --text-color: #212121;              /* $--primary-text-color */
  --blockquote-color: #686868;        /* $--secondary-text-color */
  --link-color: #0066ff;              /* $--link-color */
  --visited-color: #004dc1;           /* $--visited-link-color */
  --highlight-color: #FFFF00;         /* $--highlight */
  --heading-color: #212121;  
  --yellow: fuchsia;         /* $--title */
}

[data-selected-theme="Piss"] {
  --background-color: #081820;
  --text-color: #e0f8d0;
  --blockquote-color: #88c070;
  --link-color: #88c070;
  --visited-color: #346856;
  --highlight-color: #ffffff;
  --heading-color: #e0f8d0;
  --yellow: #88c070;

}


button[data-theme] {
  font-family: var(--font-main);
  margin: 0;
  padding: 2px;
  border: none;
  background: transparent;
  color: var(--text-color);
}

button[data-theme][aria-pressed="true"]:is(:hover) {
color: var(--background-color);
background-color: var(--heading-color);
border: 1px solid var(--heading-color);

}

button[data-theme][aria-pressed="false"]:is(:hover) {
color: var(--background-color);
background-color: var(--yellow);
border: 1px solid var(--yellow);
} 

button[data-theme][aria-pressed="false"] {
  border: 1px solid var(--text-color);

}

button[data-theme][aria-pressed="true"] {
  background-color: var(--text-color);
  color: var(--background-color);
}
[lang="hi"]{
    font-family: "IBM Plex Sans Devnagri";
}



aside {
  float: right;
  max-width: 25%;
  padding: 5px 5px;
/* margin: 0px 0px 10px 20px;
  border: 1px solid var(--link-color);*/

}

.profile-image{
  float: left;
  max-width: 25%;
  margin: 1em 0.5em 0 0;

}


.layout-shell {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
}

.layout-main {
  flex: 1 1 auto;
  min-width: 0;
}

.layout-sidebar {
  flex: 0 0 280px;
  width: 280px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  min-width: 0;
  margin-top: 1em;
}

.layout-sidebar > * {
  width: 100%;
  max-width: 100%;
  min-width: 0;
  box-sizing: border-box;
}

@media (max-width: 900px) {
  .layout-shell {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .layout-main {
    width: 100%;
  }

  .layout-sidebar {
    width: 100%;
    flex: none;
    order: 2;
  }
}
.layout-sidebar {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.sidebar-wrap-group,
.sidebar-stack-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sidebar-block {
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 900px) {
  .layout-sidebar {
    width: 100%;
  }

  .sidebar-wrap-group {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .sidebar-wrap-group .sidebar-block {
    flex: 1 1;
    min-width: 0;
  }

  .sidebar-stack-group {
    flex-direction: column;
  }

  .sidebar-stack-group .sidebar-block {
    width: 100%;
  }
}

tml, body {
  height: 100%;
  margin: 0;
}

.month-row {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: flex-start;
}

.folder-block {
  display: flex;
  flex-direction: column;
}

.photo-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}


body {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
}

s {
 text-decoration: line-through solid red;
}

cul {
 text-decoration: underline solid;
 text-decoration-color: var(--link-color);
}
/* Make main expand */
main {
  flex: 1;
}

  body {
    font-family: var(--font-secondary);
    font-size: var(--font-scale);
    margin: auto;
    padding: 20px;
    max-width: var(--width);
    text-align: left;
    background-color: var(--background-color);
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
    color: var(--text-color);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-main);
    color: var(--heading-color);
    scale: 1em;
    margin-bottom: 0.5em;

  }



  .chnglog p{
  line-height: 1.2em;
  }

  details > summary { 
font-weight: 700;
line-height: 2em;  }
   
::marker {
    padding-right: 1em;
}

  .animated-site-title {
    display: inline-block;
    white-space: nowrap;
  }

  .animated-site-title .title-head {
    color: inherit;
  }

  .animated-site-title .title-tail {
    color: inherit;
    opacity: 0.9;
  }
  a {
    color: var(--link-color);
    cursor: pointer;
    text-decoration: none;
  }

  a:hover {
    background-color: var(--link-color);
    color: var(--background-color);
  }

content a:hover {
    background-color: var(--link-color);
    color: var(--background-color);
  }

  nav a {
    margin-right: 8px;
  }

 ul.blog-posts li a:visited {
  text-decoration: line-through red;
}
  strong,
  b {
    color: var(--heading-color);
  }

  button {
    margin: 0;
    cursor: pointer;
  }

  time {
    font-family: monospace;
    font-style: normal;
    font-size: 15px;
  }

  main {
    line-height: 1.6;
  }

  table {
    width: 100%;
  }

  hr {
    border: 0;
    border-top: 1px dashed;
  }

  img {
    max-width: 90%;
  }

  code {
    font-family: monospace;
    padding: 2px;
    border-radius: 3px;
  }

  blockquote {
    border-left: 1px solid #999;
    color: var(--blockquote-color);
    padding-left: 15px;
    font-style: italic;
  }



footer {
    padding: 25px 0;
    background-color: var(--background-color);
    /* position: fixed; */
    /* bottom: 0; */
    /* width: var(--width); */
    /* text-align: center; */
  }

  .title:hover {
    text-decoration: none;
  }

  .title h1 {
    font-size: 1.75em;
  }

  h2 {
    font-size: 1.35em;
  }
  .inline {
    width: auto !important;
  }

  .highlight,
  .code {
    border-radius: 3px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    overflow-x: auto;
  }

  .theme-switcher {
    padding-left: 10px;
  }
  .thought img {
    max-height: 200px;
  }
  .post{
    margin-bottom: 1em;
  }
  /* blog post list */
  ul.blog-posts {
    list-style-type: none;
    padding: unset;
  }

  ul.blog-posts li {
    display: flex;
  }

  ul.blog-posts li span {
    flex: 0 0 130px;
  }

  ul.blog-posts li a:visited {
  color: var(--visited-color);
}

  ul.blog-posts li a:hover {
  color: var(--background-color);
}

:root {
  --sb-top: 50px;     /* your bar heights */
  --sb-bottom: 50px;
}

/* Keep Swipebox's positioning model intact */
#swipebox-slider .slide {
  box-sizing: border-box !important;
}

/* Reserve space so bars don't cover media */
#swipebox-slider .slide.current {
  padding-top: var(--sb-top) !important;
  padding-bottom: var(--sb-bottom) !important;
}

.container {
  display: flex; /* Enables Flexbox */
  gap: 10px;
}

.column {
  flex: 1 1 80%; /* Makes both columns share space equally */
}
h2.recent {
padding-top: 1em;
padding-bottom: 0px; 
margin-bottom: 0px;
}

small.grey {
color: grey;
}

nav a {
  color: var(--link-color);
  padding: 0.05rem 0.1rem;
  text-decoration: none;
}

nav a.active {
  background-color: var(--yellow);
  color: var(--background-color);
}

nav a {
  transition: background-color 0.2s ease, color 0.2s ease;
}

a:hover {
background-color: var(--yellow);
  color: var(--background-color);}

.menumisc{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3px;
}
.new-blink {
  font-size: 0.75em;
  font-weight: 700;
  color: red;
  animation: blinkNew 0.9s steps(2, start) infinite;
}

.new-update {
  font-size: 0.75em;
  font-weight: 700;
  color: orange;
  animation: blinkNew 0.9s steps(2, start) infinite;
}

.title-cursor::before {
  content: "_";
}

.site-title-wrap {
  display: inline-flex;
  align-items: baseline;
}

.title-cursor {
  display: inline-block;
  margin-left: 0.08em;
  opacity: 0;
}

.title-cursor::before {
  content: "_";
}

.title-cursor.is-visible {
  opacity: 1;
  animation: titleCursorBlink 1s steps(1, end) infinite;
}

@keyframes titleCursorBlink {
  0%, 49% {
    opacity: 1;
  }
  50%, 100% {
    opacity: 0;
  }
}

@keyframes blinkNew {
  to {
    visibility: hidden;
  }
}

/*
nav a.misc {
background-color: var(--link-color);
border-radius: 2px;
padding: 0 0.5rem 0 0.5rem;
color: var(--background-color);
 
}

nav a.misc:hover {
background-color: var(--yellow);
  color: var(--background-color);

 
}
*/
.webrings{display:flex;gap:15px;padding:5px;flex-wrap:wrap;font-size:.7em;justify-content:center;align-items:center;margin-bottom:15px}


.smallquote {
font-size: 0.9em;
}


</style>

