<div class="webrings-links">
  <span class="webring">
    <a class="webring-nav" href="https://hotlinewebring.club/arjun/previous" title="Prev"><<</a>
    <a class="webring-name" href="https://hotlinewebring.club">Hotline<br>Webring</a>
    <a class="webring-nav" href="https://hotlinewebring.club/arjun/next" title="Next">>></a>
  </span>

  <span class="webring">
    <a class="webring-nav" href="https://webring.dinhe.net/prev/arjvn.xyz" title="Prev"><<</a>
    <a class="webring-name" href="https://webring.dinhe.net">Retronaut<br>Webring</a>
    <a class="webring-nav" href="https://webring.dinhe.net/random">[?]</a>
    <a class="webring-nav" href="https://webring.dinhe.net/next/arjvn.xyz" title="Next">>></a>
  </span>

  <span class="webring">
    <a class="webring-nav" href="https://static.quest/previous/?host=arjun9124.github.io/" title="Prev"><<</a>
    <a class="webring-name" href="https://static.quest/">Static<br>Quest</a>
    <a class="webring-nav" href="https://static.quest/random">[?]</a>
    <a class="webring-nav" href="https://static.quest/next/?host=arjun9124.github.io/" title="Next">>></a>
  </span>

  <span class="webring">
    <a class="webring-nav" href="https://webring.blackpiratex.com/api/ring?action=prev&slug=arjun" title="Prev"><<</a>
    <a class="webring-name" href="https://webring.blackpiratex.com">Web<br>Sutra</a>
    <a class="webring-nav" href="https://webring.blackpiratex.com/api/ring?action=random">[?]</a>
    <a class="webring-nav" href="https://webring.blackpiratex.com/api/ring?action=next&slug=arjun" title="Next">>></a>
  </span>

  <span class="webring">
    <a class="webring-nav" href="https://1.44mb.club/prev"><<</a>
    <a href="https://1.44mb.club/">💾</a>
    <a class="webring-nav" href="https://1.44mb.club/next">>></a>
  </span>

  <span class="webring">
    <a class="webring-nav" href="https://meta-ring.hedy.dev/previous"><<</a>
    <a class="webring-name" href="https://meta-ring.hedy.dev/">Meta<br>Ring</a>
    <a class="webring-nav" href="https://meta-ring.hedy.dev/random">[?]</a>
    <a class="webring-nav" href="https://meta-ring.hedy.dev/next">>></a>
  </span>

  <span class="webring">
    <a class="webring-nav" href="https://webring.bucketfish.me/redirect.html?to=prev&name=arjun" title="Prev"><<</a>
    <a class="webring-name" href="https://webring.bucketfish.me">Bucket<br>Webring</a>
    <a class="webring-nav" href="https://webring.bucketfish.me/redirect.html?to=random&name=arjun">[?]</a>
    <a class="webring-nav" href="https://webring.bucketfish.me/redirect.html?to=next&name=arjun" title="Next">>></a>
  </span>

  <span class="webring">
    <a class="webring-nav" href="https://webri.ng/webring/punk/previous?via=https%3A%2F%2Farjun9124.github.io%2F">&lt;&lt;</a>
    <a href="https://p-u-n-k.nekoweb.org/">P-U-N-K</a>
    <a class="webring-nav" href="https://webri.ng/webring/punk/random?via=https%3A%2F%2Farjun9124.github.io%2F">[?]</a>
    <a class="webring-nav" href="https://webri.ng/webring/punk/next?via=https%3A%2F%2Farjun9124.github.io%2F">&gt;&gt;</a>
  </span>
  {{ range sort .Site.Menus.webrings "Page.Lastmod" "desc" }}
      {{ $active := or ($.IsMenuCurrent "misc" .) ($.HasMenuCurrent "misc" .) }}
      <a
        href="{{ .URL | relURL }}"
        class="misc-link {{ if $active }}active{{ end }}{{ with .Page }}{{ if .Params.newpage }} is-new{{ else if .Params.updated }} is-updated{{ end }}{{ end }}"
      >
        {{ .Name }}
      </a>
    {{ end }}
</div>
