{{ define "main" }}
<div class="layout-shell">
    <div class="layout-main">
        <div class="profile-intro">
<p>
        <a href="https://www.youtube.com/watch?v=YEEBCSComdM&t=55s">Hey!</a>
        I am Arjun. I live in <a href="/tag/delhi/">Delhi</a>, India.
        I am 8 credits away from being a Chemical Engineer.
        <u>Do not test me on that.</u>
      </p>
</div>

     {{- partial "thoughts.html" . -}}
       {{- partial "recent-post.html" . -}}
       {{- partial "recent-projects.html" . -}}
</div>

<div class="layout-sidebar">
  <div class="sidebar-wrap-group">
    <div class="sidebar-block recent-image-block">
      {{- partial "recent-image.html" . -}}
    </div>

    <!-- <div class="sidebar-block scraps-block">
      {{- partial "scraps.html" . -}}
    </div> -->
  </div>

  <div class="sidebar-stack-group">
    <div class="sidebar-block van-block">
      {{- partial "van.html" . -}}
    </div>


	  </div>
</div>
</div>
{{ end }}

