{{ define "main" }}
<div class="layout-shell">
    <div class="layout-main">
        <div class="profile-intro">
<div class="intro">
  <p>
<a href="">Hey!</a> I am Arjun. I live in <a href="/tag/delhi/">Delhi</a>, India. I am 8 credits away from being a Chemical Engineer. <cul>Do not test me on that.</cul>
<!-- 
I’d appreciate if you read something. Even if you don’t, or if nobody ever does, this place shall continue to exist on principle.</p>
--></div>
</div>

     {{- partial "thoughts.html" . -}}
<h2 class="recent">Blog Posts</h2> <small class="grey">Some effort was made</small>
<div class="posts-list">
{{ with .Site.GetPage "/blog" }}
    {{ range first 5 (sort .Data.Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
        <div class="post" >                   
 <a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a> - {{ .Description }}
        </div>    
    {{ end }}
{{ end }}
</div>

<h2 class="recent">My Projects</h2> <small class="grey">Stuff I'm making or have made already.</small>
<div class="posts-list">
{{ with .Site.GetPage "/projects" }}
    {{ range first 5 (sort .Data.Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
        <div class="post">
 <a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a>  - {{ .Description }}
        </div>    
    {{ end }}
{{ end }}

</div>
    </div>

<div class="layout-sidebar">
  <div class="sidebar-wrap-group">
    <div class="sidebar-block recent-image-block">
      {{- partial "recent-image.html" . -}}
    </div>

    <!-- <div class="sidebar-block scraps-block">
      {{- partial "scraps.html" . -}}
    </div> -->
  </div>

  <div class="sidebar-stack-group">
    <div class="sidebar-block van-block">
      {{- partial "van.html" . -}}
    </div>


	  </div>
</div>
</div>
{{ end }}

