{{ define "main" }}
<aside>
<img id="profile-image" src="/me-Dark.jpg" alt="Me" width="150em;"></aside>
<p>
I am Arjun. I live in Delhi, India. I am 8 credits away from being a Chemical Engineer. <br><cul>Do not test me on that.</cul>
</p><p>
I’d appreciate if you read something. Even if you don’t, or if nobody ever does, this place shall continue to exist on principle.</p>

     {{- partial "thoughts.html" . -}}

     <aside>
             {{- partial "recent-image.html" . -}}

</aside>


<h2 class="recent">Blog Posts</h2> <small class="grey">some effort was made</small>
<div class="posts-list">
{{ with .Site.GetPage "/blog" }}
    {{ range first 5 (sort .Data.Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
        <div class="post" >                   
 <a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a> <br> {{ .Summary | safeHTML | truncate 100 | plainify }}
        </div>    
    {{ end }}
{{ end }}
</div>



</div>
<h2 class="recent">Projects</h2> <small class="grey">Stuff I'm making or have made already.</small>
<div class="posts-list">
{{ with .Site.GetPage "/projects" }}
    {{ range first 5 (sort .Data.Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
        <div class="post" style="text-indent: ;">
                            
 <a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a> <br> {{ .Summary | safeHTML | truncate 100 | plainify }}
        </div>    
    {{ end }}
{{ end }}

</div>

     {{- partial "van.html" . -}}



{{ end }}

