<style>
div.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    align-items: center;
}

div.gallery a {
    display: block;
}

div.gallery a img {
   
    max-height: 200px;
    max-width: 300px;
    display: block;
}
</style>

<div class="gallery">
  {{ $dir := .Get "src" }}
  {{ $path := printf "static/%s" $dir }}

  {{ range readDir $path }}
    {{ if and (not .IsDir) (ne .Name ".DS_Store") }}
      {{ $src := printf "/%s/%s" $dir .Name | relURL }}
      <a data-fancybox="gallery" href="{{ $src }}">
        <img src="{{ $src }}" alt="{{ .Name }}">
      </a>
    {{ end }}
  {{ end }}
</div>